.slider {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: 1%;
}

.currentslide {
  width: 100%;
  -webkit-box-shadow: -1px 11px 7px -4px rgba(0,0,0,0.25);
  -moz-box-shadow: -1px 11px 7px -4px rgba(0,0,0,0.25);
  box-shadow: -1px 11px 7px -4px rgba(0,0,0,0.25);
}

.arrows {
  width: 3.5%;
  height: 4.5%;
  margin: 2.2%;
  align-self: center;
  cursor: pointer;
}

.arrows:hover {
  width: 3.85%;
  height: 4.85%;
  margin: 2.025%;
  transition: 0.5s;
}

.arrows:active {
  width: 3.5%;
  height: 4.5%;
  margin: 2.2%;
  transition: 0.1s;
}

.projects {
  margin: 4% 20% 7%;
}

.goto {
  padding-top: 10%;
}

.projecttext {
  display: flex;
}

.playbutton {
  align-self: center;
}

.playimg {
    width: 5.8em;
    transition: 0.4s;
}

.playimg:hover {
  width: 6em;
  margin: -1.5%;
  transition: 0.2s;
}

.buttondiv {
  width: 10%;
  display: flex;
}

.text {
  width: 80%;
}

.text p {
  width: 75%;
}

.nodeco {
  text-decoration: none;
  color: black;
}
